
@import url('https://fonts.googleapis.com/css2?family=Chango&family=DM+Serif+Text:ital@0;1&family=New+Rocker&display=swap');

.bold-font {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;

}

.navbar{
    background-color: #ffffff; 
  border-bottom: 3px solid #d4af37; 
}
.nav-link{
    color: #343a40; 
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav-link:hover,
 .nav-link:focus,
 .nav-link.active {
  color: #d4af37; 
}
