
@import url('https://fonts.googleapis.com/css2?family=Chango&family=DM+Serif+Text:ital@0;1&family=New+Rocker&display=swap');

.card{
    transition: all 0.3s ease;

}
.card:hover{
    transform: scale(1.10);
}
.text{
    font-size: 20px;
}
.bold-font {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;

}

